body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

p {
  font-size: 1rem;
}


.cookie-pop-up {
  background: #444;
  color: #fff;
  padding: 6px;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;

}

button {
  background-color: rgb(0, 191, 255);
  color: white;
  border-radius: 8px;
  border-width: 1.5px;
  font-size: large;
  padding: 15px 32px;
}

button:hover {
  background-color: rgb(100, 200, 235);
  border-color: black;
}

#email-container {
  align-content: center;
  border: 10px gray;
  border-style: rounded;
  background-color: white;
  padding: 15px 30px;
  padding-bottom: 40px;

}

#footer {
  position: fixed;
  bottom: 0;
}

#email-button {
  font-size: medium;
}


#social-stack {
  display: inline-block;
}

input[type="text"] {
  padding: 15px;
  font-size: large;
  padding-right: 10px;
  margin-right: 5px;
}

#email-container-form {
  display: inline-block;
}

.cookie-yes {
  background-color: khaki;
  font-size: medium;
  padding: 10px 42px;
  margin-right: 10px;
  border-color: khaki;
}

.cookie-no {
  background-color: red;
  font-size: medium;
  padding: 10px 42px;
  margin-right: 10px;
  border-color: red;
}